/*import font and deal with global stuff*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
}

html, body {
    margin: 0;
    padding: 0;
}

.alsd-main-bg-colour {
    background-color: rgb(154, 102, 123);
}

/*deals with headers*/
.lvsnd-header-bg {
    background-color: rgb(0, 0, 0);
}

.def-header-name {
    color: rgb(230,230,230);
    margin: 0;
    padding: .3em;
    padding-bottom: 0;
    font-size: 300%;
}

.def-header-text {
    color: rgb(180, 180, 180);
    list-style-type:none;
    text-align: right;
    padding: .5em;
    margin: 0;
}

.tiny-info {
    margin: 0;
    text-align: center;
    color: rgba(210, 210, 210, 1);
    word-spacing: .3em;
    font-weight: lighter;
    font-size: 0.8em;
}


/*deals with links on alasdair page
there is probably a better way of writing the main chunk of this to avoid all the repition
but I would still need individual classes to ensure the correct bg image is shown so ehhhh*/

.alasdair-links {
    background-color: rgba(3,0,33,1);
}

.alasdair-links a {
    text-decoration: none;
    color: rgba(100, 100, 100, 0.5);
    font-size: 6em;
    font-weight: bold;
    margin: .5em;
}

.cv:hover {
    background-image: url("images/cv.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(3, 0, 33, 0.8);
    background-blend-mode: multiply;
}

.mphys1:hover {
    background-image: url("images/mphys1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(3, 0, 33, 0.8);
    background-blend-mode: multiply;
}

.presentation1:hover {
    background-image: url("images/mphys_presentation_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(3, 0, 33, 0.8);
    background-blend-mode: multiply;
}

.presentation2:hover {
    background-image: url("images/mphys_presentation_2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(3, 0, 33, 0.8);
    background-blend-mode: multiply;
}

.mphys2:hover {
    background-image: url("images/mphys2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(3, 0, 33, 0.8);
    background-blend-mode: multiply;
}

.epq:hover {
    background-image: url("images/epq.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(3, 0, 33, 0.8);
    background-blend-mode: multiply;
}

.poster:hover {
    background-image: url("images/poster.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgba(3, 0, 33, 0.8);
    background-blend-mode: multiply;
}

.cv:hover a, .mphys1:hover a, .mphys2:hover a, .presentation1:hover a, .presentation2:hover a, .epq:hover a, .poster:hover a{
    color: rgba(163, 191, 245, 0.8);
}


/*deals with main text on pages*/
.content p, .content h3, footer h3, footer ul{
    margin: 0;
}

.content h3 {
    padding: 1.5em;
    padding-bottom: 0;
    text-align: center;
    font-size: 3em
}

.content p {
    width: 90%;
    margin: auto;
    text-align: justify;
    padding: 10%;
    padding-top: 3em;
    font-size: 130%;
}

.content a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.alsd-footer-bg {
    background-image: url("images/marbled_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: rgba(255,255,255, 0.6);
}

.def-footer {
    padding: 5em;
    padding-bottom: 3em;
}

.def-footer li {
    display: inline;
    padding: 0 2%;
    font-weight: bolder;
    font-size: larger;
}

.def-footer a {
    text-decoration: none;
    color: rgba(255,255,255, 0.6);
}

.def-footer ul{
    text-align: center;
}